interactions:
    - request:
          body: null
          headers:
          method: GET
          uri: https://longpoint.goingtocamp.com/api/equipment
      response:
          body:
              string:
                  '[{"equipmentCategoryId":-32768,"order":1,"localizedValues":[{"cultureName":"en-CA","name":"Equipment"}],"subEquipmentCategories":[{"subEquipmentCategoryId":-32768,"order":1,"localizedValues":[{"cultureName":"en-CA","name":"1
                  Tent"}]},{"subEquipmentCategoryId":-32767,"order":2,"localizedValues":[{"cultureName":"en-CA","name":"2
                  Tents"}]},{"subEquipmentCategoryId":-32766,"order":3,"localizedValues":[{"cultureName":"en-CA","name":"Van/Camper"}]},{"subEquipmentCategoryId":-32765,"order":4,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  up to 18ft"}]},{"subEquipmentCategoryId":-32764,"order":5,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  up to 25ft"}]},{"subEquipmentCategoryId":-32763,"order":6,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  up to 32ft"}]},{"subEquipmentCategoryId":-32762,"order":8,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  up to 40ft"}]},{"subEquipmentCategoryId":-32742,"order":9,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  over 40ft"}]},{"subEquipmentCategoryId":-32740,"order":7,"localizedValues":[{"cultureName":"en-CA","name":"Trailer
                  up to 36ft"}]}]}]'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              api-supported-versions:
                  - "1.0"
          status:
              code: 200
              message: OK
version: 1
